<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Server error') ?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>oSMS · <?php $this->p($page_title) ?></title>

	<link rel="stylesheet" href="<?php $this->p($config->base_url); ?>styles/master.css" type="text/css" />
</head>

<body>
	<header>
		<h1>oSMS</h1>
	</header>

	<section>
		<h1>Error 500: Server error</h1>

		<?php
			$file = str_replace(APPLICATION_PATH . '/', '', $exception->getFile());
			$file = str_replace(LIBRARIES_PATH . '/', '', $file);
		?>

		<h2>Error of type <code><?php $this->p(get_class($exception)) ?></code> thrown in <code><?php $this->p($file) ?></code> at line <code><?php $this->p($exception->getLine()) ?></code></h2>
		<p class="error"><?php echo $exception->getMessage() ?></p>

		<h2>Complete stack trace</h2>
		<?php $this->backtrace($exception) ?>

		<h2>Request info</h2>

		<p>POST</p>
		<pre><?php highlight_string(var_export($request->POST, TRUE)) ?></pre>

		<p>GET</p>
		<pre><?php highlight_string(var_export($request->GET, TRUE)) ?></pre>

		<p>SERVER</p>
		<pre><?php highlight_string(var_export($_SERVER, TRUE)) ?></pre>
	</section>
	
	<footer>
		<p>Copyright @ 2012 The DoS Team, all rights reserved &nbsp;·&nbsp; <a href="mailto:osms-security@stoppani.name">Report a bug</a></p>
	</footer>
</body>

