<?php $this->uselib('components/plugins') ?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>oSMS · <?php $this->p($page_title) ?></title>

	<link rel="stylesheet" href="<?php $this->p($config->base_url); ?>styles/master.css" type="text/css" />
</head>

<body>

	<header>
		<h1>oSMS</h1>

		<nav>
		<?php if ($user->getRole() == 'customer'): ?>
			<ul>
				<li><a href="<?php $this->url('new-message') ?>">New message</a></li>
				<li><a href="<?php $this->url('inbox') ?>">Inbox</a></li>
				<li><a href="<?php $this->url('archives') ?>">Archive</a></li>
				<li><a href="<?php $this->url('change-password') ?>">Change password</a></li>
				<li><a href="<?php $this->url('logout') ?>">Logout</a></li>
			</ul>
		<?php elseif ($user->getRole() == 'cro'): ?>
			<ul>
				<!--li><a href="<?php $this->url('index') ?>">Index</a></li-->
				<li><a href="<?php $this->url('inbox') ?>">Inbox</a></li>
				<li><a href="<?php $this->url('archives') ?>">Archive</a></li>
				<li><a href="<?php $this->url('change-password') ?>">Change password</a></li>
				<li><a href="<?php $this->url('logout') ?>">Logout</a></li>
			</ul>
		<?php elseif ($user->getRole() == 'admin'): ?>
			<ul>
				<li><a href="<?php $this->url('manage-users') ?>">User management</a></li>
				<li><a href="<?php $this->url('logs') ?>">Audit logs</a></li>
				<li><a href="<?php $this->url('delete-message') ?>">Delete a message</a></li>
				<li><a href="<?php $this->url('change-password') ?>">Change password</a></li>
				<li><a href="<?php $this->url('logout') ?>">Logout</a></li>
			</ul>
		<?php else: ?>
			<ul>
				<li><a href="<?php $this->url('login') ?>">Login</a></li>
			</ul>
		<?php endif; ?>
		</nav>
	</header>

	<?php if ($message_queue): ?>
	<aside>
		<ul>
			<?php foreach ($message_queue as $message): ?>
				<li><?php $this->p($message) ?></li>
			<?php endforeach ?>
		</ul>
	</aside>
	<?php endif ?>

	<?php $this->block('content') ?>

	<footer>
		<p>Copyright @ 2012 The DoS Team, all rights reserved &nbsp;·&nbsp; <a href="mailto:osms-security@stoppani.name">Report a bug</a></p>
	</footer>
</body>
</html>
