<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Server error') ?>

<?php $this->extend('base.html') ?>

<?php $this->startblock('content') ?>
<section>
		<h1>Error 500: Server error</h1>

		<?php
			$file = str_replace(APPLICATION_PATH . '/', '', $exception->getFile());
			$file = str_replace(LIBRARIES_PATH . '/', '', $file);
		?>

		<h2>Error of type <code><?php $this->p(get_class($exception)) ?></code> thrown in <code><?php $this->p($file) ?></code> at line <code><?php $this->p($exception->getLine()) ?></code></h2>
		<p class="error"><?php echo $exception->getMessage() ?></p>

		<h2>Complete stack trace</h2>
		<?php $this->backtrace($exception) ?>

		<h2>Request info</h2>

		<p>POST</p>
		<pre><?php highlight_string(var_export($request->POST, TRUE)) ?></pre>

		<p>GET</p>
		<pre><?php highlight_string(var_export($request->GET, TRUE)) ?></pre>

		<p>SERVER</p>
		<pre><?php highlight_string(var_export($_SERVER, TRUE)) ?></pre>
	</section>
<?php $this->endblock() ?>
