<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Start page') ?>

<?php $this->extend('base.html') ?>

<?php $this->startblock('content') ?>
<section>
	<h1>Welcome to the oSMS platform</h1>

	<?php if ($user->isAuthenticated()): ?>
	<p>Welcome <?php $this->p($user->getUsername()) ?> (<?php $this->p($user->getRole()) ?>)</p>
	<?php else: ?>
		<p>In order to use the platform you have to be logged in. You can do so on the <a href="#">login</a> page.</p>
	<?php endif; ?>
</section>
<?php $this->endblock() ?>
