<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Inbox') ?>

<?php $this->extend('base.html') ?>

<?php $this->startblock('content') ?>
<section>
	<h1>Inbox</h1>

	<?php if ($user->getRole() === 'customer'): ?>
	<div class="title-buttons">
		<a href="<?php $this->url('new-message') ?>" class="button small icon send-new">Send a new message</a>
	</div>
	<?php endif ?>

	<?php if ($messages): ?>
		<table class="messages">
			<tr>
				<th>Subject</th>
				<th>Sender</th>
				<th colspan="2">Date and time</th>
			</tr>

			<?php foreach ($messages as $msg): ?>
			<tr class="<?php $this->p($msg->status) ?>">
				<td>
					<?php if ($msg->status === 'read'): ?>
					<img src="<?php $this->p($config->base_url); ?>images/icons/bullet_white.png" alt="Enabled" title="Message not yet read" />
					<?php else: ?>
					<img src="<?php $this->p($config->base_url); ?>images/icons/bullet_blue.png" alt="Disabled" title="Message already read" />
					<?php endif ?>
					<?php $this->p($msg->subject) ?>
					<?php if ($msg->attachment): ?>
					<img class="attachment" src="<?php $this->p($config->base_url); ?>images/icons/attach.png" alt="Attachment" title="Message has an attachment" />
					<?php endif ?>
				</td>
				<td><?php $this->p($msg->sender->username) ?></td>
				<td><?php $this->p($msg->timestamp->format('F d, Y – H:i:s')) ?></td>
				<td><a class="button small icon read" href="<?php $this->url('read-message', array('id' => $msg->id)) ?>">Read</a></td>
			</tr>
			<?php endforeach ?>
		</table>
	<?php else: ?>
		<p class="message info">You don't have any messages in your inbox yet.</p>
	<?php endif ?>

	<?php $this->inc('paginator.html') ?>
</section>
<?php $this->endblock() ?>
