<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Change password') ?>

<?php $this->extend('base.html') ?>

<?php $this->startblock('content') ?>
<section>
		<h1>Change password</h1>


		<?php if ($auth_error): ?>
		<p class="error">The password you entered is incorrect or the two passwords didn't match.</p>
		<?php elseif ($error): ?>
		<div class="errorlist">
			<p>Some errors occurred during the validation:</p>
			<?php echo $form->errorlist(); ?>
		</div>
		<?php endif; ?>

		<form method="post">
			<?php $this->r($this->csrfToken()) ?>
			<?php $this->r($form->render()) ?>
			<button type="submit" class="small">Change password</button>
		</form>
	</section>
<?php $this->endblock() ?>

