<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Change password') ?>

<?php $this->extend('base.html') ?>

<?php $this->startblock('content') ?>
<section>
		<h1>Change password</h1>

		<?php if ($error): ?>
		<p class="error">Invalid username or password, please try again.</p>
		<?php endif; ?>

		<form method="post">
			<?php $this->r($this->csrfToken()) ?>
			<?php $this->r($form->render()) ?>
			<button type="submit">Change password</button>
		</form>
	</section>
<?php $this->endblock() ?>

