<?php $this->uselib('components/plugins') ?>
<?php $this->set('page_title', 'Users management') ?>

<?php $this->extend('base.html') ?>

<?php $this->startblock('content') ?>
<section>
	<h1>Users</h1>

	<div class="title-buttons">
		<a href="<?php $this->url('add-user') ?>" class="button small"><span>Add another user</span></a>
	</div>

	<table>
		<tr>
			<th>Username</th>
			<th>Role</th>
			<th colspan="2">Status</th>
		</tr>

		<?php foreach ($users as $user): ?>
		<tr>
			<td><?php $this->p($user->username) ?></td>
			<td><?php $this->p($user->role->display_name) ?></td>
			<td class="status"><img src="<?php $this->p($config->base_url); ?>images/icons/tick.png" alt="Enabled" title="User currently enabled" /> Enabled</td>
			<td class="actions"><a class="button small">Disable</a></td>
		</tr>
		<?php endforeach ?>
	</table>

</section>
<?php $this->endblock() ?>

